<?xml version="1.0" ?>
<robot name="bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find bot_description)/urdf/bot_base.xacro"/>
    <xacro:include filename="$(find bot_description)/urdf/bot_sensors.xacro" />
    <xacro:include filename="$(find bot_description)/urdf/gazebo.xacro" />
    <xacro:include filename="$(find bot_description)/urdf/ros2_control.xacro" />

</robot>